.CFUserTextEncoding
.DS_Store
.cups/
.dlv/
.docker/
.dropbox/
.fzf.bash
.lesshst
.mysql_history
.oh-my-zsh/
.pyenv/
.ssh/
.vim/
.viminfo
.wget-hsts
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
GPUCache/
Library/
Movies/
Music/
Pictures/
Public/
dev/
vitess/